footer hr { /* Isso aqui é a linha que divide o footer do body */
    width: 1361.499px;
    transform: rotate(0.084deg);
    flex-shrink: 0;
    border: none;
    height: 3px;
    background-color: #D4D4D4;
    margin: 20px auto;
}

footer ul {
    color: #53A63C;
    font-family: Gotham;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    line-height: 40.705px
}

footer li {
    color: #000;
    font-family: Gotham;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.705px;
}

.siga{
    display: inline-block; /* Coloca as seções em linha uma ao lado da outra */
    margin: 0 20px 30px ; /* Adiciona espaçamento entre as seções */
    vertical-align: top; /* Alinha os elementos ao topo */
    box-sizing: border-box;
}

.sobre{
    display: inline-block; /* Coloca as seções em linha uma ao lado da outra */
    margin: 20px 30px ; /* Adiciona espaçamento entre as seções */
    vertical-align: top; /* Alinha os elementos ao topo */
    box-sizing: border-box;
}

.logo_footer {
    width: auto;
    height: auto;
    display: inline-block;
    padding-right: 400px;
    box-sizing: border-box;
}

.footer-container{
    max-width: 1361.499px; /* Largura máxima do rodapé */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex; /* Alinha os elementos horizontalmente */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha se não couberem na largura */
    justify-content: center; /* Alinha os elementos horizontalmente no centro */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
}

footer a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-family:
}
