#modal {
  display: none;
}
#modal-2 {
  display: none;
}
#modal-3 {
  display: none;
}
#modal-4 {
  display: none;
}
#modal-5 {
  display: none;
}
#modal-6 {
  display: none;
}
#modal-7 {
  display: none;
}
#modal-8 {
  display: none;
}
#modal-9 {
  display: none;
}
#modal-10 {
  display: none;
}
#modal-11 {
  display: none;
}



/* Estilo para o 1 botão */
.meu-botao {
  width: 358px;
  height: 241px;
  border-radius: 15px;
  background-color: #cfcfcf;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
.meu-botao img {
  max-width: 100%;
  width: 282px;
  height: 139px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
  }
.meu-botao:hover {
    transform: scale(1.1); /* Cor de fundo ao passar o mouse */
  }
.description-container {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;

    line-height: normal;
    margin-top: 5%;
  } 
  /* Estilo para o 1 modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    padding: 7px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
.modal img{

    width: 650px;
    height: 330px;
}
.fechar {
    color: #ff0095;
    float: right;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
}
.openLinkBtn { /*ler mais*/
    display: inline-block;
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px; /* Ajuste a margem conforme necessário */
    cursor: pointer;
    transition: transform 0.3s ease;
}
.openLinkBtn:hover {
    background-color: #0056b3;
}



/*77777777777777777777777777777777777777777777777777777777777777777777777*/




  /* Estilo para o 2 botão*/
.meu-botao-2 {
    background-color: #d9d9d9; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto do botão */
    padding: 0px 0px; /* Preenchimento interno do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
    border-radius: 0px; /* Adiciona cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    display: inline-block;
}
.meu-botao-2 img {
    width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 230px;
    margin-right: 5px; /* Espaço entre a imagem e o texto */
  }
  .meu-botao-2:hover {
    transform: scale(1.1); /* Cor de fundo ao passar o mouse */
  }
  .description-container-2 {
    flex: 1; /* Ocupa uma parte menor do espaço vertical */
    display: flex;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    margin-top: 10px;
    text-align: left; /* Alinhe o texto à esquerda */
  }
  /* Estilo para o 2 modal */
.modal-2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content-2 {
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    padding: 7px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
.modal-2 img{

    width: 650px;
    height: 330px;
}
.fechar-2 {
    color: #ff0095;
    float: right;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
}
.openLinkBtn-2 { /*ler mais*/
    display: inline-block;
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px; /* Ajuste a margem conforme necessário */
    cursor: pointer;
    transition: transform 0.3s ease;
}
.openLinkBtn-2:hover {
    background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
 /* Estilo para o 2 botão*/
 .meu-botao-3 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
}
.meu-botao-3 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-3:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-3 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 3 modal */
.modal-3 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.modal-content-3 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-3 img{

  width: 650px;
  height: 330px;
}
.fechar-3 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-3 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-3:hover {
  background-color: #0056b3;
}
/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-4 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-4 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-4:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-4 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-4 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-4 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-4 img{

  width: 650px;
  height: 330px;
}
.fechar-4 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-4 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-4:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-5 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-5 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-5:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-5 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-5 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-5 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-5 img{
  width: 650px;
  height: 330px;
}
.fechar-5 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-5 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-5:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-6 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-6 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-6:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-6 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-6 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-6 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-6 img{

  width: 650px;
  height: 330px;
}
.fechar-6 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-6 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-6:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-7 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-7 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-7:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-7 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-7 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-7 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-7 img{

  width: 650px;
  height: 330px;
}
.fechar-7 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-7 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-7:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-8 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-8 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-8:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-8 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-8 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-8 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-8 img{

  width: 650px;
  height: 330px;
}
.fechar-8 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-8 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-8:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-9 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-9 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-9:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-9 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-9 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-9 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-9 img{

  width: 650px;
  height: 330px;
}
.fechar-9 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-9 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-9:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-10 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-10 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-10:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-10 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-10 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-10 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-10 img{

  width: 650px;
  height: 330px;
}
.fechar-10 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-10 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-10:hover {
  background-color: #0056b3;
}

/*77777777777777777777777777777777777777777777777777777777777777777777777*/
.meu-botao-11 {
  background-color: #d9d9d9; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  padding: 0px 0px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Transforma o cursor em um ponteiro ao passar o mouse */
  border-radius: 0px; /* Adiciona cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  display: inline-block;
}
.meu-botao-11 img {
  width: 550px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 230px;
  margin-right: 5px; /* Espaço entre a imagem e o texto */
}
.meu-botao-11:hover {
  transform: scale(1.1); /* Cor de fundo ao passar o mouse */
}
.description-container-11 {
  flex: 1; /* Ocupa uma parte menor do espaço vertical */
  display: flex;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
  text-align: left; /* Alinhe o texto à esquerda */
}
/* Estilo para o 2 modal */
.modal-11 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-11 {
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  padding: 7px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.modal-11 img{

  width: 650px;
  height: 330px;
}
.fechar-11 {
  color: #ff0095;
  float: right;
  font-size: 44px;
  font-weight: bold;
  cursor: pointer;
}
.openLinkBtn-11 { /*ler mais*/
  display: inline-block;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px; /* Ajuste a margem conforme necessário */
  cursor: pointer;
  transition: transform 0.3s ease;
}
.openLinkBtn-11:hover {
  background-color: #0056b3;
}