.retangulo{
    width: 358px;
    height: 241px;
    border-radius: 15px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.retangulo img {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.retangulo h2{
    color: #000;
    font-family: Gotham Black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5%;
}

#categoria_1{
    display: flex;
    margin: 10px;
    position: relative;
}

#categoria_1 h1{
    color: #000;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0px 60px;
    font-family: Gotham;
    font-size: 34px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin:0;
    z-index: 1;
}


    #logo {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }


.container {
    display: flex;
    /*Isso transforma o elemento em um container flexível, permitindo que seus filhos se comportem como flex items*/
    flex-wrap: wrap;
    /* Define que os flex items podem quebrar para a próxima linha quando não couberem na largura disponível */
    align-items: center;
    /*Centraliza verticalmente os flex items.*/
    justify-content: center;
    /* Centraliza horizontalmente os flex items.*/
}

.bottom-text {
    margin: 0;
    /*Remove a margem ao redor do elemento.*/
    padding: 10px;
    /*Adiciona preenchimento de 10 pixels ao redor do elemento.*/
    font-size: 18px;
    /*Adiciona preenchimento de 10 pixels ao redor do elemento.*/
}

.video {
    flex: 1;
    /*Faz com que o elemento expanda para preencher o espaço disponível horizontalmente.*/
    padding: 10px;
    /*Adiciona preenchimento de 10 pixels ao redor do elemento*/
    margin-right: 5px;
    /*Define uma margem de 5 pixels à direita do elemento.*/
    margin-left: 90px;
    /*Define uma margem de 90 pixels à esquerda do elemento.*/
}

.UNretangulo1 {
    width: 230px;
    /*Define a largura do retângulo como 230 pixels.*/
    height: 280px;
    /* Define a altura do retângulo como 280 pixels.*/
    border-radius: 15px;
    /*Adiciona cantos arredondados com raio de 15 pixels*/
    background-color: #d9d9d9;
    /*Define a cor de fundo*/
    display: flex;
    /*Transforma o elemento em um container flexível.*/
    flex-direction: column;
    /*Define a direção da pilha flexível como coluna.*/
    align-items: center;
    /*Centraliza verticalmente o conteúdo.*/
    justify-content: center;
    /* Centraliza horizontalmente o conteúdo.*/
    margin-left: 60px;
    /* Definem as margens do elemento para a esquerda*/
    margin-right: 10px;
    /* Definem as margens do elemento para a  direita*/
    margin-top: 3rem;
    /* Definem as margens do elemento para cima*/
    text-align: left;
    /* Centraliza o conteúdo dentro do bloco para a esquerda */
}

.UNretangulo2 {
    width: 230px;
    /*Define a largura do retângulo como 230 pixels.*/
    height: 280px;
    /* Define a altura do retângulo como 280 pixels.*/
    border-radius: 15px;
    /*Adiciona cantos arredondados com raio de 15 pixels*/
    background-color: #d9d9d9;
    /*Define a cor de fundo*/
    display: flex;
    /*Transforma o elemento em um container flexível.*/
    flex-direction: column;
    /*Define a direção da pilha flexível como coluna.*/
    align-items: center;
    /*Centraliza verticalmente o conteúdo.*/
    justify-content: center;
    /* Centraliza horizontalmente o conteúdo.*/
    margin-left: 80px;
    /* Definem as margens do elemento para a esquerda*/
    margin-right: 190px;
    /* Definem as margens do elemento para a direita*/
    margin-top: 7.3rem;
    /* Definem as margens do elemento para cima*/
    text-align: left;
    /* Centraliza o conteúdo dentro do bloco para a esquerda */
}

.UNretangulo_img {
    max-width: 98%;
    /* Define a largura máxima da imagem como 98% do contêiner pai.*/
    height: auto;
    /*Mantém a proporção da imagem.*/
    flex-shrink: 0;
    /*Impede que a imagem encolha dentro do contêiner.*/
    border-radius: 15px;
    /*Adiciona cantos arredondados com raio de 15 pixels.*/
}

.UNretangulo_h2 {
    color: #000;
    /* Essa propriedade define a cor do texto.*/
    font-family: Gotham Black;
    /*Essa propriedade define a família da fonte a ser usada para o texto*/
    font-size: 20px;
    /*Essa propriedade define o tamanho da fonte em pixels*/
    font-style: normal;
    /*Esta propriedade define o estilo da fonte*/
    font-weight: 500;
    /*Esta propriedade define a espessura da fonte*/
    line-height: normal;
    /*Esta propriedade define a altura da linha, que é a distância vertical entre as linhas de texto.*/
}

.poiuy1 {
    margin-left: -10px; /* Ajuste o valor conforme necessário */
    padding-left: 110px;
    color: #000;
    font-family: Gotham;
    font-size: 34px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}



.poiuy2 {
    padding-left: 170px;
    /*controlar o espaço entre os elementos*/color: #000;
    color: #000;
    padding: 0px 60px;
    font-family: Gotham;
    font-size: 34px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin:0;
    z-index: 1;
}

